// Colors
$background-color: #f3f2f5;
$deep-grey: #565a5c;
$very-deep-grey: #212529;
$grey: #cacccd;
$green: #17a2b8;

// Font sizes
$small-font-size: 0.9rem;
$bigger-font-size: 1.1rem;
$logo-font-size: 2.4rem;

// Font

// Spacers
$spacer: 1rem;
$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: ($spacer * 0.9),
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 5),
  7: ($spacer * 15)
);